body{
    margin: 0 auto;
    background-color: #fff;
}

header{
    background-color: #466995;
    width: 100%;

    
}

ul{
    list-style: none;
    text-align: center;
    
}

li{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    
}


li:hover{
    color: #DBE9EE;
    cursor: pointer;
}

h1{
    color: #466995;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
}

h2{
    color: #333;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 100;
    margin: 0 auto 20px auto;
}

h3{
    color: #466995;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 30px;
    cursor: pointer;
}

h4{
    color: #466995;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

p{
    color: #333;
    font-family: sans-serif;
    font-size: 18px;
}

.intro{
    background-color: #DBE9EE;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
 
}

.question{
    text-align: center;
    position: sticky;
    top: 40px;
    border: 15px solid #466995;
    background-color: white;
}

.answer{
    border: 1px solid #466995;
 

}

.answer:hover{
    background-color: #C0D6DF;
    color: #fff;
    
}

footer{
    background-color: #DBE9EE;
    text-align: center;

}